.spinner-validator {
    position: relative;
}

.spiner-icon {
    position: absolute;
    right: 10px;
    bottom: 11px;
}

.spiner-icon-json {
    position: absolute;
    right: -16px;
    top: -11px;
    width: 70px;
    height: 70px;
}

.check-animation {
    width: 70px;
    height: 70px;
    margin-right: -26px;
}

.spiner-icon-json2 {
    width: 70px;
    height: 70px;
}

.json-animation-big {
    width: 290px;
}

.json-animation-medium {
    width: 135px;
}

.label-spiner-icon {
    position: absolute;
    right: -15px;
    bottom: -15px;
}

.spin-active {
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}